<div class="container mt-4">
    <!-- <h2 class="text-center">Tokenomics Dashboard</h2> -->

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card text-center h-100">
                <div class="chart-container">
                    <canvas *ngIf="chartData" baseChart [data]="chartData" [type]="'doughnut'"
                        [options]="doughnutChartOptions"></canvas>
                </div>
                <h4>In Circulation</h4>
                <h2>{{dashboardData?.circulatingSupply | number:'1.0-0'}} / 300 Million</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card wallet-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th class="text-end">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let wallet of dashboardData.nonCirculatingWallets">
                            <td>
                                <div>{{wallet.name}} </div>
                                <div class="wallet-address">{{wallet.address}}</div>
                            </td>
                            <td class="text-end balance">{{wallet.balance | number: '1.0-0'}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div>
        <div class="vesting-schedule-header">
            <h3>Vesting Schedule</h3>
            <div class="d-flex justify-content-end toggle-buttons mb-3">
                <button [ngClass]="{'btn': true, 'active': scheduleMode == 'table'}" (click)="changeScheduleMode('table')">Table</button>
                <button [ngClass]="{'btn': true, 'active': scheduleMode == 'timeline'}" (click)="changeScheduleMode('timeline')">Timeline</button>
                <button [ngClass]="{'btn': true, 'active': scheduleMode == 'chart'}" (click)="changeScheduleMode('chart')">Chart</button>
            </div>
        </div>
        

        <div class="mt-4 vesting-table-container" *ngIf="scheduleMode == 'table'">
            <table class="table">
                <thead>
                    <tr>
                        <th>Round</th>
                        <th>TGE Unlock</th>
                        <th>Cliff</th>
                        <th>Unlocked</th>
                        <th class="text-right">Locked</th>
                        <th>Next Unlock</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sch of vestingSchedules">
                        <td><strong>{{sch.round}} </strong><br>BLP {{getTotalAmountforRound(sch.round) | numberFormat}}</td>
                        <td>{{sch.percentage}}%</td>
                        <td>{{sch.cliff}}m</td>
                        <td>
                            BLP {{getTotalAmountforRound(sch.round) | numberFormat}}<br>
                            <div class="progress-container">
                                <div class="progress">
                                    <div class="progress-bar-unlocked" style="width: 50%;"></div>
                                </div>
                            </div>
                            <small>Start {{sch.unlockStart  | date:'d MMMM y'}}</small>
                        </td>
                        <td class="text-right">
                            BLP 0<br>
                            <div class="progress-container">
                                <div class="progress">
                                    <div class="progress-bar-locked" style="width: 50%;"></div>
                                </div>
                            </div>
                            <small>Start {{sch.unlockEnd | date:'d MMMM y'}}</small>
                        </td>
                        <td>---<br> <!-- <small>---7%</small> --> </td>
                        <td>{{sch.summary}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <!-- <tr>
                        <td><strong>Total</strong></td>
                        <td>GAL 34.52M</td>
                        <td></td>
                        <td>GAL 146.14M<br><small>73.1% of Supply</small></td>
                        <td class="text-right">GAL 53.87M<br><small>73.1% of Supply</small></td>
                        <td></td>
                        <td></td>
                    </tr> -->
                    <tr>
                        <td><strong>Total</strong></td>
                        <td>100%</td>
                        <td></td>
                        <td></td>
                        <td class="text-right"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <div class="mt-4 vesting-table-container" *ngIf="scheduleMode == 'timeline'">
            <table class="table  table-hover text-center">
                <thead>
                    <tr>
                        <th>Round</th>
                        <th>TGE Unlock</th>
                        <th>Cliff</th>
                        <th>June 2021</th>
                        <th>Sept 2021</th>
                        <th>Dec 2021</th>
                        <th>March 2022</th>
                        <th>June 2022</th>
                        <th>Sept 2022</th>
                        <th>Dec 2022</th>
                        <th>March 2023</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sch of vestingSchedules">
                        <td>{{sch.round}} <br><span class="round-label">BLP {{getTotalAmountforRound(sch.round) | numberFormat}}</span></td>
                        <td>{{sch.percentage}}%</td>
                        <td>{{sch.cliff}}m</td>
                        <td colspan="8">
                            <div class="timeline-bar d-flex justify-content-between align-items-center px-3 text-white" style="background-color: #6c757d;"><span>GAL 23.58M<br>Start {{sch.unlockStart | date:'d MMMM y'}}</span><span>Unlock {{sch.unlockEnd | date:'d MMMM y'}} </span></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>